<div class="card border-warning mb-3">
  <div class="card-header">
    New text taggging calculation
  </div>

  <div class="card-body">
    <form action="/text-tag/results.html">
      <div class="form-group">
        <label for="text">
          Text
        </label>

        <textarea class="form-control" rows="3" name="text" placeholder="Enter your text" id="text"></textarea>
      </div>

      <button class="btn btn-outline-warning btn-block">
        Tag!
      </button>
    </form>
  </div>  <!-- card-body -->
</div>  <!-- card -->
