<div class="card border-info mb-3">
  <div class="card-header">
    New descriptive statistics calculation
  </div>

  <div class="card-body">
    <form action="/stats/results.html">
      <div class="form-group">
        <label for="user_text">
          Numbers
        </label>

        <textarea class="form-control" name="list_of_numbers" rows="3" placeholder="Enter your numbers (separated by spaces)" id="list_of_numbers"></textarea>
      </div>

      <button class="btn btn-outline-info btn-block">
        Calculate!
      </button>
    </form>
  </div>  <!-- card-body -->
</div>  <!-- card -->
