<div class="card border-warning mb-3">
  <div class="card-header">
    Colorizing results
  </div>

  <div class="card-body">
    <dl>
      <dt>Your original image</dt>
      <dd><img src="<%= @original_image_url %>" width="400px"></dd>

      <dt>Colorized image</dt>
      <dd><img src="<%= @colorized_image_url %>" width="400px"></dd>
    </dl>
  </div>  <!-- card-body -->
</div>  <!-- card -->
