<div class="card border-warning mb-3">
  <div class="card-header">
    New colorizing calculation
  </div>

  <div class="card-body">
    <form action="/colorize/results.html">
      <div class="form-group">
        <label for="image_url">
          Image URL
        </label>

        <input id="image_url" text="text" name="image_url" class="form-control" placeholder="https://somewebsite.com/image.jpg">
      </div>

      <button class="btn btn-outline-warning btn-block">
        Colorize!
      </button>
    </form>
  </div>  <!-- card-body -->
</div>  <!-- card -->
