<div class="card border-primary mb-3">
  <div class="card-header">
    New loan payment calculation
  </div>

  <div class="card-body">
    <form action="/loan-payment/results.html">
      <div class="form-group">
        <label for="annual_percentage_rate">
          APR
        </label>

        <input type="number" step="any" class="form-control" name="annual_percentage_rate" id="annual_percentage_rate" placeholder="Enter the APR of the loan (as a percent)">
      </div>

      <div class="form-group">
        <label for="number_of_years">
          Years
        </label>

        <input type="number" min="1" class="form-control" name="number_of_years" id="number_of_years" placeholder="Enter the number of years to repay the loan">
      </div>

      <div class="form-group">
        <label for="principal_value">
          Principal
        </label>

        <input type="number" min="1" class="form-control" name="principal_value" id="principal_value" placeholder="Enter the principal of the loan">
      </div>

      <button class="btn btn-outline-primary btn-block">
        Calculate!
      </button>
    </form>
  </div>  <!-- card-body -->
</div>  <!-- card -->
