<div class="card border-primary mb-3">
  <div class="card-header">
    Loan payment results
  </div>

  <div class="card-body">
    <dl>
      <dt>APR</dt>
      <dd><%= @apr %>%</dd>

      <dt>Number of years</dt>
      <dd><%= @years %></dd>

      <dt>Principal</dt>
      <dd><%= number_to_currency(@principal) %></dd>

      <dt>Monthly Payment</dt>
      <dd><%= number_to_currency(@monthly_payment) %></dd>
    </dl>
  </div>  <!-- card-body -->
</div>  <!-- card -->
