<div class="card border-info mb-3">
  <div class="card-header">
    Street address to coordinates calculation
  </div>

  <div class="card-body">
    <form action="/street-to-coords/results.html">
      <div class="form-group">
        <label for="the_address">Street Address</label>
        <input type="text"  class="form-control" placeholder="Enter the address" name="user_street_address" id="the_address">
      </div>

      <button class="btn btn-outline-info btn-block">
        Lookup Coordinates!
      </button>
    </form>
  </div>  <!-- card-body -->
</div>  <!-- card -->
