<div class="card border-info mb-3">
  <div class="card-header">
    Street address to coordinates results
  </div>

  <div class="card-body">
    <dl>
      <dt>Street Address</dt>
      <dd><%= @street_address %></dd>

      <dt>Latitude</dt>
      <dd><%= @latitude %></dd>

      <dt>Longitude</dt>
      <dd><%= @longitude %></dd>
    </dl>
  </div>  <!-- card-body -->
</div>  <!-- card -->
